In [41]:
import pandas as pd
from pandas import read_csv

my_data = read_csv('cars.csv', encoding = 'ISO-8859-1')
my_data.head(10)

,car,rank,max_speed,consumption_town,consumption_road,horse_power,space,price
0,Peugeot 505 GR,1,173,11.4,10.01,10,7.88,49500
1,Opel Record 2000 LS,2,176,12.3,10.48,11,7.96,46700
2,Citroen Visa Super E,3,142,8.2,7.30,5,5.65,32100
3,VW Golf 1300 GLS,4,148,10.5,9.61,7,6.15,39150
4,Citroen CX 2400 Pallas,5,178,14.5,11.05,13,8.06,64700
5,Mercedes 230,6,180,13.6,10.40,13,8.47,75700
6,BMW 520,7,182,12.7,12.26,11,7.81,68593
7,Volvo 244 DL,8,145,14.3,12.95,11,8.38,55000
8,Peugeot 104 ZS,9,161,8.6,8.42,7,5.11,35200
9,Citroen Dyane,10,117,7.2,6.75,3,5.81,24800

In [42]:
my_g = read_csv('criteria.csv', encoding = 'ISO-8859-1')
#criteria
my_g = my_g.rename({0: 'max_speed',
                    1: 'consumption_town',
                    2: 'consumption_road',
                    3: 'horse_power',
                    4: 'space',
                    5: 'price'
                   })
my_g.head(6)

                   g_i*  g_i^*  a_i  s_i
max_speed           110    190    5    0
consumption_town    -15     -7    4    0
consumption_road    -13     -6    4    0
horse_power           3     13    5    0
space                 5      9    4    0
price            -80000 -20000    5    0

In [75]:
# create the marginal utlities intervals

def get_gj_gj1(G, ga):
    for idx, gj in enumerate(G):
        if ga < gj:
            gj1_index = idx
            gj_index  = idx - 1
            return G[gj_index], G[gj1_index]

    return None 
        
def marginal_utility(G, ga):
    """ G is the list containing all the splits for the criterion g, going from gi* to g*i """
    
    #first we must find gj and gj+1 that has ga in between them
    gj, gj1 = get_gj_gj1(G, ga)
    
    print(gj, gj1)
    
    #now we get the coeficients of gj, gj1 that makes the marginal utility
    ui_gj1 = (ga - gj)/(gj1 - gj)
    ui_gj = 1 - ui_gj1
    
    return ui_gj, ui_gj1

def get_G(gmin, gmax, alpha):
    G = []
    gi = gmin
    step = (gmax - gmin)/(alpha - 1)
    G.append(gmin)
    
    for j in range(alpha - 1):
        gi = (gi + step)
        G.append(gi)
        
    return G

In [70]:
get_G(80000, 20000, 5)

[80000, 65000.0, 50000.0, 35000.0, 20000.0]

In [78]:
get_gj_gj1([13.00,10.67,8.33,6.00], 10.01)

(6.0, 13.0)

In [88]:
marginal_utility([5.00,6.33,7.67,9.00], 7.88)

7.67 9.0

(0.8421052631578948, 0.15789473684210523)

In [92]:
GSpeed = [110,130,150,170,190]
GTown  = [-15.00,-12.33,-9.67,-7.00]
GRoad  = [-13.00,-10.67,-8.33,-6.00]
GHorse = [3.0,5.5,8.0,10.5,13.0]
GSpace = [5.00,6.33,7.67,9.00]
GPrice = [-80000,-65000,-50000,-35000,-20000]

In [105]:
print(marginal_utility(GSpeed, 117))
print(marginal_utility(GTown, -7.2))
print(marginal_utility(GRoad, -6.75))
print(marginal_utility(GHorse, 3))
print(marginal_utility(GSpace, 5.81))
print(marginal_utility(GPrice, -24800))

110 130
(0.65, 0.35)
-9.67 -7.0
(0.07490636704119857, 0.9250936329588014)
-8.33 -6.0
(0.32188841201716734, 0.6781115879828327)
3.0 5.5
(1.0, 0.0)
5.0 6.33
(0.39097744360902287, 0.6090225563909771)
-35000 -20000
(0.31999999999999995, 0.68)

In [ ]:
117	7.2	6.75	3	5.81	24800